@import "../styles/stylesheet.scss";

.mainfooter{
    background-color: $bg;
    border-top: 2px solid $light-grey;
    padding-top: 20px;
    padding-bottom: 10px;
    text-align: center; 
    font-family: $header;
    &__title{
        text-align: left;
        color: $dark-red;

    }
   

}